{% extends 'base.html.twig' %}

{% block title %}Gestion Profil{% endblock %}

{% block body %}
    <h1>Modification du Profil</h1>
    <section class="container-fluid">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-12 text-center"> Photo de profil <br>
            <img src="{{ asset('uploads/photo/' ~ participant.urlphoto) }}" class="card-img-top w-25">
            </div>
            <div class="col-lg-3"><label class="form-label">Nom : </label>
                <input type="text" class="form-control" disabled value="{{ participant.nom }}"></div>

            <div class="col-lg-3"><label class="form-label">Prenom : </label>
                <input type="text" class="form-control" disabled value="{{ participant.prenom }}">
            </div>
            <div class="col-lg-3"><label class="form-label">Site : </label>
                <input type="text" class="form-control" disabled value="{{ participant.getSite.getNomSite }}">
            </div>
            <div class="col-lg-3">
                <label class="form-label">{{ form_label(form.pseudo) }}</label>*
                <div class="form-control">{{ form_widget(form.pseudo ) }}</div>
            </div>


            <div class="col-lg-3">
                <label class="form-label">{{ form_label(form.telephone) }}</label>*
                <div class="form-control">{{ form_widget(form.telephone) }}</div>
            </div>
            <div class="col-lg-3">
                <label class="form-label">{{ form_label(form.email) }}</label>*
                <div class="form-control">{{ form_widget(form.email) }}</div>
            </div>
            <div class="col-lg-3">
                <label class="form-label">{{ form_label(form.urlPhoto) }}</label>
                <div class="form-control">{{ form_widget(form.urlPhoto) }}</div>
            </div>
        </div>
        <button class="btn btn-success" type="submit">Modifier</button>
        <a href="{{ path('app_mdp', {id:participant.id}) }}"
           class="btn btn-primary text-center btn-sm">Modifier mot de passe</a>

        {{ form_end(form) }}

    </section>
{% endblock %}
